// Place all the styles related to the votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);

//settings
$bg-color: #F9F2EC;		//背景色
$txt-color: #6F5245;	//文字色

body {
	background-color: $bg-color;
	padding-top: 2em;

	.navbar-static-top {
		background-color: $bg-color;
	}

	h1 {
		font-family: 'Dancing Script';
		font-size: 6em;
		color: $txt-color;
		text-shadow: 1px 1px 3px #fff;
	}
	//ログインページ
	//---------------------------------------
	.top_wrapper	{
		width: 60%;
		margin: 0 auto;
		background-size: contain;
		background-image: url(cute_wedding_invitation.png);
		background-repeat: no-repeat;
		background-position: bottom right;
		#login-button {
			margin-top: 4em;
			.zocial.github {
				background-color: #B0362D;
				box-shadow: none;
				text-shadow: none;
				border: none;
				background-image: none;
				color: #fff;
				padding: 0.5em;
				padding-right: 1em;

				&:before {
					border-right: 0;
					box-shadow: none;
				}
			}
		}
	}

	//メッセージページ
	//---------------------------------------

	//ありがとうアラート
	.alert-success {
		position: absolute;
		top: 10%;
		left: 50%;
		width: 60%;
		margin-left: -30%;
		box-shadow: 3px 3px 5px $txt-color;
		border: 0;
		background: #fff url(thanks-bird.png) no-repeat 95% 95%;
		background-size: 80px auto;
		padding: 2em;
		color: $txt-color;
		font-size: 2em;

		.close {
			position: absolute;
			top: 0.5em;
			right: 0.5em;
			color: $txt-color;
			font-size: 1em;
		}

	}

	//奥様へのメッセージ
	#message {
		width: 90%;
		margin: 0 auto 1em;
		background: $bg-color url(bg_message_for_wife_1.png) no-repeat bottom right;
		background-size: contain;
		padding: 1.2em 1em 1.5em;
		font-size: 3em;
	}

	footer {
		padding-top: 2em;
		p {
			text-align: center;
		}
	}
}
