// Place all the styles related to the votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);

//settings
$bg-color: #F9F2EC;		//背景色
$txt-color: #6F5245;	//文字色

body {
	background-color: $bg-color;
	padding-top: 2em;

	.navbar-static-top {
		background-color: $bg-color;
	}

	h1 {
		font-family: 'Dancing Script';
		font-size: 6em;
		color: $txt-color;
		text-shadow: 1px 1px 3px #fff;
	}
	//ログインページ
	//---------------------------------------
	.top_wrapper	{
		width: 90%;
		margin: 0 auto;
		background-size: contain;
		background-image: url(cute_wedding_invitation.png);
		background-repeat: no-repeat;
		background-position: bottom right;
		#login-button {
			margin-top: 4em;
			.zocial.github {
				background-color: #B0362D;
				box-shadow: none;
				text-shadow: none;
				border: none;
				background-image: none;
				color: #fff;
				padding: 0.5em;
				padding-right: 1em;

				&:before {
					border-right: 0;
					box-shadow: none;
				}
			}
		}
	}

	//メッセージページ
	//---------------------------------------

	//ありがとうアラート
	.alert-success {
		position: absolute;
		top: 3em;
		left: 50%;
		margin-left: -160px;
		width: 320px;
		box-shadow: 3px 3px 5px $txt-color;
		border: 0;
		background: #fff url(thanks-bird.png) no-repeat 95% 95%;
		background-size: 60px auto;
		padding: 1em 1em 2em;
		color: $txt-color;
		font-size: 1.2em;
		@media (min-width: 768px) {
			margin-left: -330px;
			width: 660px;
			padding: 1.5em;
			font-size: 1.5em;
		}

		.close {
			position: absolute;
			top: 0.5em;
			right: 0.5em;
			color: $txt-color;
			font-size: 1em;
		}

	}

	//奥様へのメッセージ
	#message {
		width: 95%;
		margin: 0 auto 1em;
		background: $bg-color url(bg_message_for_wife_1.png) no-repeat bottom right;
		background-size: contain;
		padding: 0 0.5em 2.5em;
		font-size: 1.5em;
		@media (min-width: 768px) {
			padding-bottom: 3em;
			font-size: 1.5em;
		}
		@media (min-width: 1200px) {
			padding-bottom: 3.5em;
			font-size: 2em;
		}
	}

	//よちよちメンバーからのメッセージ
	#congratulaitons-block {
		padding-left: 0;
		.congratulation-comment {
			list-style: none;
			margin-bottom: 1.5em;
			background: #DEC9C5 url(bg_hearts.png) no-repeat;
			background-size: contain;

			padding: 1em;
			font-size: 1em;

			span {
				display: block;
				text-align: right;
			}

			&:nth-child(odd) {
				background-position: right bottom;
				padding-right: 3em;
			}
			&:nth-child(even) {
				padding-left: 3em;
			}

			&:last-child {
				margin-bottom: 0;
			}

			@media (min-width: 768px) {
				font-size: 1.2em;
			}
			@media (min-width: 1200px) {
				font-size: 1.5em;
			}
		}
	}

	footer {
		padding-top: 2em;
		p {
			text-align: center;
		}
	}
}
