- model_class = Vote
.page-header
  h1=t '.title', default: model_class.model_name.human.pluralize.titleize

= link_to t('.new', default: t("helpers.links.new")), votes_select_path, class: 'btn btn-primary'

